# Kafka setup
KAFKA_NODE_ID=1
KAFKA_LISTENERS=PLAINTEXT://kafka:29092,CONTROLLER://kafka:9093,EXTERNAL://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092,EXTERNAL://localhost:9092
KAFKA_CREATE_TOPICS=operations_airport_created:3:1,operations_airports_deleted:3:1,tick_15_min_elapsed:1:1,tick_1_hour_elapsed:1:1