# Kafka setup
KAFKA_NODE_ID=1
KAFKA_LISTENERS=PLAINTEXT://kafka:29092,CONTROLLER://kafka:9093,EXTERNAL://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092,EXTERNAL://localhost:9092
KAFKA_CREATE_TOPICS=game_import_status:3:1,loimport_data_receivedgs:3:1