.git
.gitignore
.turbo
node_modules
**/node_modules
**/dist
**/.turbo
**/.svelte-kit
**/coverage
bff/data
bff/**/*.log
*.log
.env
.env.local
.env.*.local
Dockerfile*
docker-compose*.yml
docker-compose*.yaml
