{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "title": "AirlineSim API",
        "contact": {
            "name": "Jeno7u",
            "url": "https://github.com/Jeno7u",
            "email": "lboris201@yandex.ru"
        },
        "version": "1.0"
    },
    "host": "api.master.stand.airlinesim.ms0ur.dev",
    "paths": {
        "/aircraft": {
            "post": {
                "description": "Purchases a new aircraft from a selected aircraft type for the authenticated user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Aircraft"
                ],
                "summary": "Purchase aircraft",
                "parameters": [
                    {
                        "description": "Aircraft details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/fleetpb.CreateAircraftRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Aircraft purchased successfully, id returned",
                        "schema": {
                            "$ref": "#/definitions/fleetpb.CreateAircraftResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error, 2 - aircraft type not found",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Aircraft tail number conflict"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/aircraft-types": {
            "get": {
                "description": "Returns a list of available aircraft types",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Aircraft"
                ],
                "summary": "List aircraft types",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/fleetpb.ListAircraftTypesResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new aircraft type (admin only)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Aircraft"
                ],
                "summary": "Create aircraft type",
                "parameters": [
                    {
                        "description": "Aircraft type details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/fleetpb.CreateAircraftTypeRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/fleetpb.AircraftType"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/aircraft-types/{id}": {
            "get": {
                "description": "Returns details for a single aircraft type",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Aircraft"
                ],
                "summary": "Get aircraft type",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Aircraft type id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/fleetpb.AircraftType"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/aircrafts": {
            "get": {
                "description": "Returns list of aircrafts owned by the authenticated airline",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Aircraft"
                ],
                "summary": "List aircrafts for airline",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/fleetpb.ListAircraftsResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/airline": {
            "post": {
                "description": "Creates an airline for the authenticated user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Airline"
                ],
                "summary": "Create airline",
                "parameters": [
                    {
                        "description": "Airline details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/airlinepb.CreateAirlineRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Airline created successfully",
                        "schema": {
                            "$ref": "#/definitions/airlinepb.CreateAirlineResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error, 2 - airport not found, 3 - user not found",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Airline conflict"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/airline/me": {
            "get": {
                "description": "Returns full airline information for the authenticated user",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Airline"
                ],
                "summary": "Get my airline",
                "responses": {
                    "200": {
                        "description": "Airline information",
                        "schema": {
                            "$ref": "#/definitions/airlinepb.AirlineResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Airline not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/airline/{id}": {
            "get": {
                "description": "Returns full airline information by airline id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Airline"
                ],
                "summary": "Get airline by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Airline ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Airline information",
                        "schema": {
                            "$ref": "#/definitions/airlinepb.AirlineResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Airline not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "patch": {
                "description": "Update airline name and codes (iata, icao). Only owner or admin allowed.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Airline"
                ],
                "summary": "Update airline",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Airline ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Fields to update: name, iata_code, icao_code",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/airlinepb.AirlineResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/airport": {
            "post": {
                "description": "Returns",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Airport"
                ],
                "summary": "Create Airport (admin only)",
                "parameters": [
                    {
                        "description": "Airport details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/operationspb.CreateAirportRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Airport created successfully, id returned",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error, 2 - country with such country_id dont exists, 3 - region with such region_id dont exists",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Airport with such ICAO/IATA already exists"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/airport/{id}": {
            "put": {
                "description": "Returns patched airport id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Airport"
                ],
                "summary": "Change airport (admin only)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Airport ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Airport details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/operationspb.ChangeAirportRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Airport patched successfully",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error, 2 - country not found, 3 - region not found",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Airport not found"
                    },
                    "409": {
                        "description": "Airport conflict"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "delete": {
                "description": "Returns deleted airport id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Airport"
                ],
                "summary": "Delete airport (admin only)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Airport ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Airport deleted",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - invalid id",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Airport not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/airports": {
            "get": {
                "description": "Returns all airports",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Airport"
                ],
                "summary": "List airports",
                "responses": {
                    "200": {
                        "description": "Airports list",
                        "schema": {
                            "$ref": "#/definitions/operationspb.ListAirportsResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "description": "Returns access token and sets refresh token into cookie",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Login user",
                "parameters": [
                    {
                        "description": "User login details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.LoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User authenticated",
                        "schema": {
                            "$ref": "#/definitions/dto.AccessTokenResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error, 2 - user not found",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/refresh": {
            "post": {
                "description": "Returns access token and sets refresh token into cookie. Doing that by validating refresh token",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Refreshes access and refresh token",
                "responses": {
                    "200": {
                        "description": "User authenticated",
                        "schema": {
                            "$ref": "#/definitions/dto.AccessTokenResponse"
                        }
                    },
                    "401": {
                        "description": "Refresh token or user is not valid"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "description": "Returns access token and sets refresh token into cookie",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Register user",
                "parameters": [
                    {
                        "description": "User registration details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.RegisterRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "User created and authenticated",
                        "schema": {
                            "$ref": "#/definitions/dto.AccessTokenResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error, 2 - email exists, 3 - nickname exists",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/countries": {
            "get": {
                "description": "Returns all countries",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Country"
                ],
                "summary": "List countries",
                "responses": {
                    "200": {
                        "description": "Countries list",
                        "schema": {
                            "$ref": "#/definitions/operationspb.ListCountriesResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/country": {
            "post": {
                "description": "Returns",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Country"
                ],
                "summary": "Create country (admin only)",
                "parameters": [
                    {
                        "description": "Country details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/operationspb.CreateCountryRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Country created successfully, id returned",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Country with such ISO already exists"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/country/{id}": {
            "put": {
                "description": "Returns patched country id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Country"
                ],
                "summary": "Change country (admin only)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Country ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Country details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/operationspb.ChangeCountryRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country patched successfully",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Country not found"
                    },
                    "409": {
                        "description": "Country conflict"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "delete": {
                "description": "Returns deleted country id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Country"
                ],
                "summary": "Delete country (admin only)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Country ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Country deleted",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - invalid id",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Country not found"
                    },
                    "409": {
                        "description": "Country has dependencies"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/region": {
            "post": {
                "description": "Returns",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Region"
                ],
                "summary": "Create Region (admin only)",
                "parameters": [
                    {
                        "description": "Region details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/operationspb.CreateRegionRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Region created successfully, id returned",
                        "schema": {
                            "$ref": "#/definitions/dto.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error, 2 - country with such country_id dont exists",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Region with such local code already exists"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/region-link": {
            "post": {
                "description": "Returns",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Region Link"
                ],
                "summary": "Create Region Link (admin only)",
                "parameters": [
                    {
                        "description": "Region Link details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/operationspb.CreateRegionLinkRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Region Link created successfully, id returned",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error, 2 - region with such region_id dont exists",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Region Link with such regions already exists"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/region-link/{id}": {
            "put": {
                "description": "Returns patched region link id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Region Link"
                ],
                "summary": "Change region link (admin only)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Region Link ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Region link details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/operationspb.ChangeRegionLinkRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Region link patched successfully",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error, 2 - region not found",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Region link not found"
                    },
                    "409": {
                        "description": "Region link conflict"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "delete": {
                "description": "Returns deleted region link id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Region Link"
                ],
                "summary": "Delete region link (admin only)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Region Link ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Region link deleted",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - invalid id",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Region link not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/region-links": {
            "get": {
                "description": "Returns all region links",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Region Link"
                ],
                "summary": "List region links",
                "responses": {
                    "200": {
                        "description": "Region links list",
                        "schema": {
                            "$ref": "#/definitions/operationspb.ListRegionLinksResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/region/{id}": {
            "put": {
                "description": "Returns patched region id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Region"
                ],
                "summary": "Change region (admin only)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Region ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Region details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/operationspb.ChangeRegionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Region patched successfully",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - request validation error, 2 - country not found",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Region not found"
                    },
                    "409": {
                        "description": "Region conflict"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "delete": {
                "description": "Returns deleted region id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Region"
                ],
                "summary": "Delete region (admin only)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Region ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Region deleted",
                        "schema": {
                            "$ref": "#/definitions/operationspb.IDResponse"
                        }
                    },
                    "400": {
                        "description": "1 - invalid id",
                        "schema": {
                            "$ref": "#/definitions/dto.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Region not found"
                    },
                    "409": {
                        "description": "Region has dependencies"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/regions": {
            "get": {
                "description": "Returns all regions",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Region"
                ],
                "summary": "List regions",
                "responses": {
                    "200": {
                        "description": "Regions list",
                        "schema": {
                            "$ref": "#/definitions/operationspb.ListRegionsResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        }
    },
    "definitions": {
        "airlinepb.AirlineResponse": {
            "type": "object",
            "properties": {
                "balance": {
                    "type": "number"
                },
                "created_at": {
                    "type": "string"
                },
                "credit_rating": {
                    "type": "integer"
                },
                "equity_cached": {
                    "type": "number"
                },
                "equity_cached_at": {
                    "type": "string"
                },
                "iata_code": {
                    "type": "string"
                },
                "icao_code": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "is_bankrupt": {
                    "type": "boolean"
                },
                "is_public": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "owner_id": {
                    "type": "string"
                },
                "reputation": {
                    "type": "integer"
                },
                "safety_rating": {
                    "type": "integer"
                },
                "starting_airport_id": {
                    "type": "string"
                }
            }
        },
        "airlinepb.CreateAirlineRequest": {
            "type": "object",
            "properties": {
                "iata_code": {
                    "type": "string"
                },
                "icao_code": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "owner_id": {
                    "type": "string"
                },
                "starting_airport_id": {
                    "type": "string"
                }
            }
        },
        "airlinepb.CreateAirlineResponse": {
            "type": "object",
            "properties": {
                "balance": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                }
            }
        },
        "dto.AccessTokenResponse": {
            "type": "object",
            "properties": {
                "access_token": {
                    "type": "string"
                }
            }
        },
        "dto.ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "integer"
                }
            }
        },
        "dto.IDResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                }
            }
        },
        "dto.LoginRequest": {
            "type": "object",
            "required": [
                "login",
                "password"
            ],
            "properties": {
                "login": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 3
                },
                "password": {
                    "type": "string",
                    "maxLength": 72,
                    "minLength": 8
                }
            }
        },
        "dto.RegisterRequest": {
            "type": "object",
            "required": [
                "email",
                "nickname",
                "password"
            ],
            "properties": {
                "email": {
                    "type": "string",
                    "maxLength": 255
                },
                "nickname": {
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 3
                },
                "password": {
                    "type": "string",
                    "maxLength": 72,
                    "minLength": 8
                }
            }
        },
        "fleetpb.Aircraft": {
            "type": "object",
            "properties": {
                "base_airport_id": {
                    "type": "string"
                },
                "current_maintenance_points": {
                    "type": "number"
                },
                "current_owner_id": {
                    "type": "string"
                },
                "fh_since_last_d_check": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "in_service": {
                    "type": "boolean"
                },
                "manufactured_at": {
                    "type": "string"
                },
                "max_maintenance_points_cached": {
                    "type": "number"
                },
                "status": {
                    "type": "string"
                },
                "tail_number": {
                    "type": "string"
                },
                "total_cycles": {
                    "type": "number"
                },
                "total_flight_hours": {
                    "type": "number"
                },
                "type_id": {
                    "type": "string"
                }
            }
        },
        "fleetpb.AircraftType": {
            "type": "object",
            "properties": {
                "base_maintenance_points": {
                    "type": "number"
                },
                "base_turnaround_points": {
                    "type": "number"
                },
                "characteristics": {
                    "type": "string"
                },
                "cruising_speed_kph": {
                    "type": "number"
                },
                "d_check_interval_fh": {
                    "type": "number"
                },
                "d_check_interval_years": {
                    "type": "number"
                },
                "d_check_overdue_multiplier": {
                    "type": "number"
                },
                "fuel_consumption_per_hour": {
                    "type": "number"
                },
                "iata_code": {
                    "type": "string"
                },
                "icao_code": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "image_upload_id": {
                    "type": "string"
                },
                "maint_cost_per_flight_hour": {
                    "type": "number"
                },
                "maint_cost_per_landing": {
                    "type": "number"
                },
                "maint_cost_per_takeoff": {
                    "type": "number"
                },
                "manufacturer_id": {
                    "type": "string"
                },
                "max_planned_seat_capacity": {
                    "type": "number"
                },
                "max_range_km": {
                    "type": "number"
                },
                "min_runway_length_m": {
                    "type": "number"
                },
                "model_name": {
                    "type": "string"
                },
                "mtow_kg": {
                    "type": "number"
                },
                "price_per_unit": {
                    "type": "number"
                },
                "production_points_price": {
                    "type": "number"
                }
            }
        },
        "fleetpb.CreateAircraftRequest": {
            "type": "object",
            "properties": {
                "aircraft_type_id": {
                    "type": "string"
                },
                "base_airport_id": {
                    "type": "string"
                },
                "current_owner_id": {
                    "type": "string"
                },
                "tail_number": {
                    "type": "string"
                }
            }
        },
        "fleetpb.CreateAircraftResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                }
            }
        },
        "fleetpb.CreateAircraftTypeRequest": {
            "type": "object",
            "properties": {
                "base_maintenance_points": {
                    "type": "number"
                },
                "base_turnaround_points": {
                    "type": "number"
                },
                "characteristics": {
                    "type": "string"
                },
                "cruising_speed_kph": {
                    "type": "number"
                },
                "d_check_interval_fh": {
                    "type": "number"
                },
                "d_check_interval_years": {
                    "type": "number"
                },
                "d_check_overdue_multiplier": {
                    "type": "number"
                },
                "fuel_consumption_per_hour": {
                    "type": "number"
                },
                "iata_code": {
                    "type": "string"
                },
                "icao_code": {
                    "type": "string"
                },
                "image_upload_id": {
                    "type": "string"
                },
                "maint_cost_per_flight_hour": {
                    "type": "number"
                },
                "maint_cost_per_landing": {
                    "type": "number"
                },
                "maint_cost_per_takeoff": {
                    "type": "number"
                },
                "manufacturer_id": {
                    "type": "string"
                },
                "max_planned_seat_capacity": {
                    "type": "number"
                },
                "max_range_km": {
                    "type": "number"
                },
                "min_runway_length_m": {
                    "type": "number"
                },
                "model_name": {
                    "type": "string"
                },
                "mtow_kg": {
                    "type": "number"
                },
                "price_per_unit": {
                    "type": "number"
                },
                "production_points_price": {
                    "type": "number"
                }
            }
        },
        "fleetpb.ListAircraftTypesResponse": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/fleetpb.AircraftType"
                    }
                }
            }
        },
        "fleetpb.ListAircraftsResponse": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/fleetpb.Aircraft"
                    }
                }
            }
        },
        "operationspb.Airport": {
            "type": "object",
            "properties": {
                "continent": {
                    "type": "string"
                },
                "country_id": {
                    "type": "string"
                },
                "elevation_ft": {
                    "type": "number"
                },
                "fuel_price_multiplier": {
                    "type": "number"
                },
                "gate_fee": {
                    "type": "number"
                },
                "geog": {
                    "type": "string"
                },
                "geom": {
                    "type": "string"
                },
                "home_link": {
                    "type": "string"
                },
                "iata_code": {
                    "type": "string"
                },
                "icao_code": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "intl_name": {
                    "type": "string"
                },
                "local_name": {
                    "type": "string"
                },
                "maintenance_point_price": {
                    "type": "number"
                },
                "max_runway_length_m": {
                    "type": "number"
                },
                "max_runway_uses_per_day": {
                    "type": "number"
                },
                "municipality": {
                    "type": "string"
                },
                "region_id": {
                    "type": "string"
                },
                "runway_fee": {
                    "type": "number"
                },
                "stand_fee": {
                    "type": "number"
                },
                "timezone": {
                    "type": "string"
                },
                "turnaround_point_price": {
                    "type": "number"
                },
                "wikipedia_link": {
                    "type": "string"
                },
                "works_at_night": {
                    "type": "boolean"
                }
            }
        },
        "operationspb.ChangeAirportRequest": {
            "type": "object",
            "properties": {
                "continent": {
                    "type": "string"
                },
                "country_id": {
                    "type": "string"
                },
                "elevation_ft": {
                    "type": "number"
                },
                "fuel_price_multiplier": {
                    "type": "number"
                },
                "gate_fee": {
                    "type": "number"
                },
                "geog": {
                    "type": "string"
                },
                "geom": {
                    "type": "string"
                },
                "home_link": {
                    "type": "string"
                },
                "iata_code": {
                    "type": "string"
                },
                "icao_code": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "intl_name": {
                    "type": "string"
                },
                "local_name": {
                    "type": "string"
                },
                "maintenance_point_price": {
                    "type": "number"
                },
                "max_runway_length_m": {
                    "type": "number"
                },
                "max_runway_uses_per_day": {
                    "type": "number"
                },
                "municipality": {
                    "type": "string"
                },
                "region_id": {
                    "type": "string"
                },
                "runway_fee": {
                    "type": "number"
                },
                "stand_fee": {
                    "type": "number"
                },
                "timezone": {
                    "type": "string"
                },
                "turnaround_point_price": {
                    "type": "number"
                },
                "wikipedia_link": {
                    "type": "string"
                },
                "works_at_night": {
                    "type": "boolean"
                }
            }
        },
        "operationspb.ChangeCountryRequest": {
            "type": "object",
            "properties": {
                "aircraft_tail_code": {
                    "type": "string"
                },
                "corp_tax_rate": {
                    "type": "number"
                },
                "flythrough_permission_price": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "intl_name": {
                    "type": "string"
                },
                "iso": {
                    "type": "string"
                },
                "land_permission_price": {
                    "type": "number"
                },
                "local_name": {
                    "type": "string"
                },
                "vat_rate": {
                    "type": "number"
                },
                "wikipedia_link": {
                    "type": "string"
                }
            }
        },
        "operationspb.ChangeRegionLinkRequest": {
            "type": "object",
            "properties": {
                "business": {
                    "type": "number"
                },
                "diaspora": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "region_a": {
                    "type": "string"
                },
                "region_b": {
                    "type": "string"
                },
                "tourism": {
                    "type": "number"
                }
            }
        },
        "operationspb.ChangeRegionRequest": {
            "type": "object",
            "properties": {
                "business_score": {
                    "type": "number"
                },
                "country_id": {
                    "type": "string"
                },
                "gdp_per_capita": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "intl_name": {
                    "type": "string"
                },
                "local_code": {
                    "type": "string"
                },
                "local_name": {
                    "type": "string"
                },
                "population": {
                    "type": "number"
                },
                "tourism_score": {
                    "type": "number"
                },
                "wikipedia_link": {
                    "type": "string"
                }
            }
        },
        "operationspb.Country": {
            "type": "object",
            "properties": {
                "aircraft_tail_code": {
                    "type": "string"
                },
                "corp_tax_rate": {
                    "type": "number"
                },
                "flythrough_permission_price": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "intl_name": {
                    "type": "string"
                },
                "iso": {
                    "type": "string"
                },
                "land_permission_price": {
                    "type": "number"
                },
                "local_name": {
                    "type": "string"
                },
                "vat_rate": {
                    "type": "number"
                },
                "wikipedia_link": {
                    "type": "string"
                }
            }
        },
        "operationspb.CreateAirportRequest": {
            "type": "object",
            "properties": {
                "continent": {
                    "type": "string"
                },
                "country_id": {
                    "type": "string"
                },
                "elevation_ft": {
                    "type": "number"
                },
                "fuel_price_multiplier": {
                    "type": "number"
                },
                "gate_fee": {
                    "type": "number"
                },
                "geog": {
                    "type": "string"
                },
                "geom": {
                    "type": "string"
                },
                "home_link": {
                    "type": "string"
                },
                "iata_code": {
                    "type": "string"
                },
                "icao_code": {
                    "type": "string"
                },
                "intl_name": {
                    "type": "string"
                },
                "local_name": {
                    "type": "string"
                },
                "maintenance_point_price": {
                    "type": "number"
                },
                "max_runway_length_m": {
                    "type": "number"
                },
                "max_runway_uses_per_day": {
                    "type": "number"
                },
                "municipality": {
                    "type": "string"
                },
                "region_id": {
                    "type": "string"
                },
                "runway_fee": {
                    "type": "number"
                },
                "stand_fee": {
                    "type": "number"
                },
                "timezone": {
                    "type": "string"
                },
                "turnaround_point_price": {
                    "type": "number"
                },
                "wikipedia_link": {
                    "type": "string"
                },
                "works_at_night": {
                    "type": "boolean"
                }
            }
        },
        "operationspb.CreateCountryRequest": {
            "type": "object",
            "properties": {
                "aircraft_tail_code": {
                    "type": "string"
                },
                "corp_tax_rate": {
                    "type": "number"
                },
                "flythrough_permission_price": {
                    "type": "number"
                },
                "intl_name": {
                    "type": "string"
                },
                "iso": {
                    "type": "string"
                },
                "land_permission_price": {
                    "type": "number"
                },
                "local_name": {
                    "type": "string"
                },
                "vat_rate": {
                    "type": "number"
                },
                "wikipedia_link": {
                    "type": "string"
                }
            }
        },
        "operationspb.CreateRegionLinkRequest": {
            "type": "object",
            "properties": {
                "business": {
                    "type": "number"
                },
                "diaspora": {
                    "type": "number"
                },
                "region_a": {
                    "type": "string"
                },
                "region_b": {
                    "type": "string"
                },
                "tourism": {
                    "type": "number"
                }
            }
        },
        "operationspb.CreateRegionRequest": {
            "type": "object",
            "properties": {
                "business_score": {
                    "type": "number"
                },
                "country_id": {
                    "type": "string"
                },
                "gdp_per_capita": {
                    "type": "number"
                },
                "intl_name": {
                    "type": "string"
                },
                "local_code": {
                    "type": "string"
                },
                "local_name": {
                    "type": "string"
                },
                "population": {
                    "type": "number"
                },
                "tourism_score": {
                    "type": "number"
                },
                "wikipedia_link": {
                    "type": "string"
                }
            }
        },
        "operationspb.IDResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                }
            }
        },
        "operationspb.ListAirportsResponse": {
            "type": "object",
            "properties": {
                "airports": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/operationspb.Airport"
                    }
                }
            }
        },
        "operationspb.ListCountriesResponse": {
            "type": "object",
            "properties": {
                "countries": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/operationspb.Country"
                    }
                }
            }
        },
        "operationspb.ListRegionLinksResponse": {
            "type": "object",
            "properties": {
                "region_links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/operationspb.RegionLink"
                    }
                }
            }
        },
        "operationspb.ListRegionsResponse": {
            "type": "object",
            "properties": {
                "regions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/operationspb.Region"
                    }
                }
            }
        },
        "operationspb.Region": {
            "type": "object",
            "properties": {
                "business_score": {
                    "type": "number"
                },
                "country_id": {
                    "type": "string"
                },
                "gdp_per_capita": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "intl_name": {
                    "type": "string"
                },
                "local_code": {
                    "type": "string"
                },
                "local_name": {
                    "type": "string"
                },
                "population": {
                    "type": "number"
                },
                "tourism_score": {
                    "type": "number"
                },
                "wikipedia_link": {
                    "type": "string"
                }
            }
        },
        "operationspb.RegionLink": {
            "type": "object",
            "properties": {
                "business": {
                    "type": "number"
                },
                "diaspora": {
                    "type": "number"
                },
                "id": {
                    "type": "string"
                },
                "region_a": {
                    "type": "string"
                },
                "region_b": {
                    "type": "string"
                },
                "tourism": {
                    "type": "number"
                }
            }
        }
    }
}