# api
JWT_ACCESS_TOKEN_EXPIRE_TIME=604800
JWT_REFRESH_TOKEN_EXPIRE_TIME=604800

# default admin 
ADMIN_EMAIL=admin123
ADMIN_NICKNAME=admin123
ADMIN_PASSWORD=admin123

# auth-db configs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=user-db